<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @element.order %>
</p>

<p>
  <strong>Name:</strong>
  <%= @element.name %>
</p>

<p>
  <strong>Appearance:</strong>
  <%= @element.appearance %>
</p>

<p>
  <strong>Atomic mass:</strong>
  <%= @element.atomic_mass %>
</p>

<p>
  <strong>Boil:</strong>
  <%= @element.boil %>
</p>

<p>
  <strong>Category:</strong>
  <%= @element.category %>
</p>

<p>
  <strong>Color:</strong>
  <%= @element.color %>
</p>

<p>
  <strong>Density:</strong>
  <%= @element.density %>
</p>

<p>
  <strong>Discovered by:</strong>
  <%= @element.discovered_by %>
</p>

<p>
  <strong>Melt:</strong>
  <%= @element.melt %>
</p>

<p>
  <strong>Molat heat:</strong>
  <%= @element.molat_heat %>
</p>

<p>
  <strong>Named by:</strong>
  <%= @element.named_by %>
</p>

<p>
  <strong>Number:</strong>
  <%= @element.number %>
</p>

<p>
  <strong>Period:</strong>
  <%= @element.period %>
</p>

<p>
  <strong>Phase:</strong>
  <%= @element.phase %>
</p>

<p>
  <strong>Source:</strong>
  <%= @element.source %>
</p>

<p>
  <strong>Spectral img:</strong>
  <%= @element.spectral_img %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @element.summary %>
</p>

<p>
  <strong>Symbol:</strong>
  <%= @element.symbol %>
</p>

<p>
  <strong>Xpos:</strong>
  <%= @element.xpos %>
</p>

<p>
  <strong>Ypos:</strong>
  <%= @element.ypos %>
</p>

<p>
  <strong>Shells:</strong>
  <%= @element.shells %>
</p>

<p>
  <strong>Electron configuration:</strong>
  <%= @element.electron_configuration %>
</p>

<p>
  <strong>Electron configuration semantic:</strong>
  <%= @element.electron_configuration_semantic %>
</p>

<p>
  <strong>Electron affinity:</strong>
  <%= @element.electron_affinity %>
</p>

<p>
  <strong>Electronegativity pauling:</strong>
  <%= @element.electronegativity_pauling %>
</p>

<p>
  <strong>Ionization energies:</strong>
  <%= @element.ionization_energies %>
</p>

<%= link_to 'Edit', edit_element_path(@element) %> |
<%= link_to 'Back', elements_path %>
